{% extends 'base.html.twig' %}

{% block title %}Ajouter une Reservation
{% endblock %}

{% block body %}
	<main>
		<div class="container-fluid px-4">
			<div class="example-wrapper">
				<h1>Ajout d'une Reservation</h1>
				{{ form(form) }}
				</div>
			</div>
		</main>
	{% endblock %}
