{% extends 'base.html.twig' %}

{% block title %}
	Agenda
{% endblock %}

{% block body %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Heure</th>
				<th scope="col">Artiste</th>
				<th scope="col">Column 3</th>
			</tr>
		</thead>
		<tbody>
			{% for ligne in agenda %}
				<tr>
					{% for colonne in ligne %}
						<td>{{ colonne }}</td>
					{% endfor %}
				</tr>
			{% endfor %}

		</tbody>
	</table>
{% endblock %}
