{% extends 'base.html.twig' %}

{% block title %}Hello ArtisteController!
{% endblock %}

{% block body %}

	{# Categorie #}
	<div class="container my-5">
		<div class="d-flex justify-content-center align-items-center">

			{% for categorie in categories %}

				<button type="button" class="btn btn-outline-{{ categorie.color }}">
					<a href="">{{ categorie.name}}</a>
				</button>

			{% endfor %}

		</div>
	</div>

	{# Artistes #}
	<div class="row">

		{% for artiste in artistes %}

			<div class="col-4">
				<div class="card border-danger mb-3">
					<h6 class="card-title text-right">{{ artiste.name }}</h6>
					<div class="card-header">Artiste N° :
						{{ artiste.id }}</div>
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

						<a href="#" class="card-link">Découvrir l'artiste</a>

					</div>
				</div>
			</div>

		{% endfor %}
	</div>

{% endblock %}
