{% extends 'base.html.twig' %}

{% block title %}
	Fiche Artiste
{% endblock %}

{% block body %}
	<div class="card border-danger mb-3">

		<div class="card-body">
			<h4 class="card-title">Artiste :
				{{ artiste.name }}
			</h4>
			<p class="card-text">{{ artiste.description }}</p>
		</div>

	</div>

{% endblock %}
