{% extends 'base.html.twig' %}

{% block title %}
	Fiche Artiste
{% endblock %}

{% block body %}
	<div class="card border-danger mb-3">

		<div class="card-body">
			<h4 class="card-title text-center">Artiste :
				{{ artiste.name }}
			</h4>
			<p class="card-text">{{ artiste.description }}</p>
		</div>

	</div>
	<div class="d-flex justify-content-center">
		<a href="{{ path('artistes') }}">
			<button type="button" class="btn btn-primary">Retour à la liste des artistes</button>
		</a>
	</div>

{% endblock %}
